* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiran SP";
}
h1,
h2,
h3,
h4 {
  font-weight: lighter;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.fade {
  opacity: 0.6;
}
li {
  list-style-type: none;
}
body {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
}

.pointer {
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}

#modal {
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalcontent {
  max-width: 1276px;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #597dbc0d;
  border-radius: 0px 0px 50px 50px;
  opacity: 1;
  overflow: hidden;
}
.contentfor-menu {
  max-width: 1186px;
  width: 100%;
  margin: 0 auto;
}
.modal-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 33px;
  margin-bottom: 72px;
}
.catface {
  margin-left: 366.72px;
  margin-right: 181.39px;
  background: none;
}
.modal-navigacia {
  gap: 30px;
}
.modal-navigacia a {
  text-align: left;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0px;
  color: #c8c8c8;
  font-weight: bold;
  opacity: 1;
}
.modal-navigacia a:hover {
  color: #111111;
}
.modal-enebi {
  margin-right: 100px;
}
.kart {
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0px;
  color: #111111;
  font-weight: bold;
  opacity: 1;
  margin-right: 10px;
}
.eng {
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0px;
  color: #6e6e6e;
  font-weight: bold;
  opacity: 1;
}
.nom {
  color: #111111;
  font-size: 23px;
  line-height: 28px;
  font-weight: bold;
}
.mail {
  color: #6e6e6e;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
.modal-kontaqti {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modalsearch {
  margin: 0 303px;
  position: relative;
}
.liveSearch {
  width: 580px;
  background: #ffffff;
  box-shadow: 0px 10px 30px #597dbc0d;
  border: #0000000d;
  border-radius: 10px;
  opacity: 1;
  padding: 19px 30px;
}
.searchbtn {
  position: absolute;
  top: 10px;
  left: 535px;
  padding: 9px 9px 6px 9px;
  border-radius: 6px;
  background-color: #74b42c;
}
.searchbtn img {
  width: 18px;
  height: 18px;
}
.categoriebi {
  margin: 50px 198px;
}
.nav-tipebi {
  font-size: 14px;
  line-height: 17px;
  color: #111111;
  cursor: pointer;
}
.nav-tipebi.mwvane {
  color: #8fc356;
}
.dzaglebi,
.katebi,
.tevzebi,
.frinvelebi,
.mgrgneli,
.reptiliebi {
  display: none;
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 41px;
}
.reptiliebi img {
  position: absolute;
  right: -45px;
  bottom: -138px;
  width: 300px;
  border-radius: 50px;
}
.katebi img,
.tevzebi img,
.dzaglebi img,
.frinvelebi img,
.mgrgneli img {
  position: absolute;
  right: -45px;
  bottom: -138px;
  border-radius: 50px;
}
.cxovelebistvis h3 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
  color: #8fc356;
}
.cxovelebistvis ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.cxovelebistvis a {
  font-size: 14px;
  line-height: 17px;
  color: #6e6e6e;
  font-weight: bold;
}
.cxovelebistvis a:hover {
  color: #8fc356;
}
#seeall {
  color: #8fc356;
}

.slide_1.active {
  display: block;
}
.moving_slider.active {
  display: block;
}

.vanish {
  display: none;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.moving_slider {
  display: none;
}
header {
  max-width: 1276px;
  margin: 0 auto;
  padding: 34px 45px;
  background-color: #ffffff;
  z-index: 100;
  border-radius: 0px 0px 50px 50px;
}
.catface img {
  width: 30px;
  height: 27px;
}
.burgeri {
  background: none;
  width: 27px;
  height: 19px;
}
.m-icon {
  width: 27px;
  height: 3px;
  border-radius: 3px;
  background-color: #111111;
  z-index: 10;
}
.menu-icon {
  padding: 3px;
}
.search-icon,
.cart-icon,
.sign-in {
  gap: 13px;
  font-size: 12px;
  line-height: 14px;
}
.cart-icon {
  position: relative;
}
.chart-count {
  position: absolute;
  top: -10px;
  right: 0;
  color: #f5621f;
  opacity: 1;
  font-size: 12px;
  line-height: 14px;
}

.side-icons {
  gap: 30px;
}
.middle-container {
  max-width: 1186px;
  width: 100%;
  margin: auto;
}
.ad-swiper {
  position: relative;
  z-index: 0;
  margin: 70px auto;
}
#ad-swiper-left {
  position: absolute;
  top: 120px;
  left: 35px;
  z-index: 30;
}
#ad-swiper-right {
  position: absolute;
  top: 120px;
  right: 35px;
  z-index: 30;
}
.cover {
  max-width: 1186px;
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}
.arrow-btn {
  width: 40px;
  height: 40px;
  padding: auto;
  border: none;
  box-shadow: 0px 0px 20px #597dbc1a;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.slider-item {
  position: relative;
  display: none;
}

.slider-item.active {
  display: block;
}
.ad_info_div {
  position: absolute;
  top: 66px;
  left: 421px;
}
.ad_info_div p {
  margin-bottom: 30px;
  width: 344px;
  height: 82px;
  font-size: 24px;
  color: #fafafa;
  text-align: center;
}
.buy-now-btn {
  margin-bottom: 40px;
  padding: 14px 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.ad-swipe-btn {
  width: 12px;
  height: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.5;
}
.square-btns {
  position: absolute;
  bottom: 15px;
  left: 559px;
  gap: 8px;
}
.clicked-ad {
  width: 28px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 26px;
  margin-bottom: 70px;
}
.more_products,
.promocodes_system,
.online_payment,
.fast_delivery {
  height: 90px;
  box-shadow: 0 0 0 20%;
  border-radius: 10px;
  cursor: pointer;
}
.service_infos {
  padding-top: 26px;
  padding-left: 31px;
  display: flex;
  align-items: center;
  gap: 26px;
  font-size: 14px;
}
.more_products {
  background-color: #f1f7e9;
  box-shadow: 0 10px 30px #f1f7e9;
}
.brightness {
  padding: 13px 13px 9px 13px;
  background-color: #e3f0d4;
  border-radius: 6px;
}
.more_products span {
  color: #74b42c;
}
.more_products p {
  width: 118px;
}

.promocodes_system {
  background-color: #feefe8;
  box-shadow: 0 10px 30px #feefe8;
}
.percentage {
  padding: 14px 14px 10px 14px;
  background-color: #fddfd2;
  border-radius: 6px;
}
.promocodes_system span {
  color: #f5621f;
}
.promocodes_system p {
  width: 152px;
}
.online_payment {
  background-color: #ebf7fc;
  box-shadow: 0 10px 30px #ebf7fc;
}
.credit-card {
  padding: 13px 10px 9px 10px;
  background-color: #3cabe0;
  border-radius: 6px;
}
.online_payment span {
  color: #3cabe0;
}
.online_payment p {
  width: 116px;
}
.fast_delivery {
  background-color: #faf4fa;
  box-shadow: 0 10px 30px #faf4fa;
}
.truck {
  padding: 13px 11px 8px 11px;
  background-color: #cc96d0;
  border-radius: 6px;
}
.fast_delivery span {
  color: #cc96d0;
}
.fast_delivery p {
  width: 112px;
}
.our_production {
  display: grid;
  grid-template-areas:
    "dog fish bird"
    "dog cat cat";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 26px;
  color: #ffffff;
  margin-bottom: 75px;
}
.dogpro {
  grid-area: dog;
  background-color: #f5621f;
  box-shadow: 0px 0px 30px #74b42c1a;
  border-radius: 10px;
  opacity: 1;
  padding-top: 72px;
  padding-left: 40px;
  position: relative;
}
.dzaglta-samkaro {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 17px;
}
.shetavazeba {
  font-size: 24px;
  line-height: 22px;
}
.dogpro button {
  margin-top: 31px;
}
.warwera span {
  display: block;
  font-size: 18px;
}
.fishpro {
  position: relative;
  grid-area: fish;
  background-color: #3cabe0;
  box-shadow: 0px 0px 30px #cc96d01a;
  border-radius: 10px;
  opacity: 1;
}
.fishpro div {
  width: 260px;
  margin-top: 45px;
  margin-left: 74px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 45px;
}
.birdpro {
  position: relative;
  grid-area: bird;
  background-color: #74b42c;
  box-shadow: 0px 0px 30px #f5621f1a;
  border-radius: 10px;
  opacity: 1;
}
.birdpro button {
  margin-top: 49px;
}
.catpro {
  position: relative;
  grid-area: cat;
  background: #f5ad00;
  box-shadow: 0px 0px 30px #f5ad001a;
  border-radius: 10px;
  opacity: 1;
}
.katebis-shetavazeba {
  width: 258px;
  margin: 43px 221px 11px 303px;
}
.katebis-shetavazeba button {
  margin-top: 29px;
}
.laqa {
  position: absolute;
  top: 6.17px;
  left: 151.08px;
  width: 250px;
  height: 182px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 0.2;
  filter: blur(36px);
}
.pug {
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: 1;
}
.fish {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.birdpro div {
  position: absolute;
  top: 43px;
  left: 40px;
  z-index: 10;
}
.parrot {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.cat {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.graycat {
  position: absolute;
  right: 19px;
  bottom: 0;
  z-index: 1;
  width: 102px;
  height: 120px;
}
.show-production {
  padding: 14px 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
}
h5 {
  font-size: 12px;
  width: 113px;
}
.produktebi a {
  color: #111111;
}
.produktebi a:hover {
  font-weight: bold;
}
.top1pro {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 20px #597dbc0d;
  border: 1px solid #e7e7e733;
  border-radius: 10px;
  opacity: 1;
}
.top-sale-sign {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 14px 14px 9px 14px;
  background-color: #f5621f;
  box-shadow: 0px 10px 10px #f5621f1a;
  border-radius: 4px;
  opacity: 1;
}
.lastpro {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 20px #597dbc0d;
  border: 1px solid #e7e7e733;
  border-radius: 10px;
  opacity: 1;
}
.last-sale-sign {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 14px 14px 9px 14px;
  background-color: #f5621f;
  box-shadow: 0px 10px 10px #f5621f1a;
  border-radius: 4px;
  opacity: 1;
}
.sale-sign img {
  width: 16px;
  height: 16px;
}
.headline {
  margin-bottom: 31px;
}
.headline h3 {
  line-height: 34px;
  font-size: 28px;
  color: #111111;
  opacity: 1;
}
.headline a {
  color: #9c9c9c;
  opacity: 1;
  font-size: 14px;
  line-height: 17px;
}
.chart-green img {
  width: 26px;
  height: auto;
  margin: 8px 7px;
}
.chart-green {
  width: 40px;
  height: 40px;
  /* padding: 6px 6px; */
  background: #74b42c 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.wonis-fasi {
  margin-top: 19px;
}
.wonis-fasi h6 {
  font-size: 24px;
}
.sale h6 {
  color: #f5621f;
}
.sale {
  align-items: flex-end;
}
.sale p {
  font-size: 11px;
  color: #111111;
  text-decoration-line: line-through;
  margin-left: 10px;
}
.maragi-amoiwura {
  margin-top: 68px;
  margin-left: 27px;
  text-align: left;
}
.wona4 {
  margin-bottom: 61px;
}
.maragi-amoiwura p {
  font-size: 14px;
}
.damatebulia {
  margin-top: 68px;
  font-size: 24px;
}
.damatebulia button {
  background: #f5621f 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  padding: 10px 15px;
  font-size: 12px;
  color: #ffffff;
}
.produktebi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 26px;
}
.food {
  margin: 30px 30px 33px 30px;
  text-align: center;
}
.foodimage {
  width: 160px;
}
.food-info {
  text-align: start;
  margin-top: 19px;
}
.food-info p {
  font-size: 12px;
  color: #6e6e6e;
  max-width: 217px;
  width: auto;
  margin-top: 9px;
  margin-bottom: 16px;
}
.top_products {
  position: relative;
}
#top1-swiper-left {
  position: absolute;
  top: 50%;
  left: -70px;
}
#top1-swiper-right {
  position: absolute;
  top: 50%;
  right: -70px;
}
.last_add_products {
  position: relative;
}
#last-swiper-left {
  position: absolute;
  top: 50%;
  left: -70px;
}
#last-swiper-right {
  position: absolute;
  top: 50%;
  right: -70px;
}
.wona {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.wona button {
  width: 105px;
  height: 35px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.more-sercive {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px;
  grid-gap: 26px;
  margin-top: 70px;
  margin-bottom: 75px;
}
.baratebi {
  position: relative;
  font-size: 24px;
  color: #111111;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #597dbc0d;
  border-radius: 10px;
  opacity: 1;
  overflow: hidden;
}
.baratebi h4 {
  width: 232px;
  text-align: center;
  line-height: 29px;
  margin: 75px auto;
}
#z {
  color: #d79f18;
}
#o {
  color: #1487bd;
}
#o2 {
  color: #f5621f;
}
#t {
  color: #74b42c;
}
#o3 {
  color: #b7881c;
}
#p {
  color: #cc96d0;
}
#i {
  color: #c5c5c5;
}
#a {
  color: #6a6d14;
}
#s {
  color: #111111;
}
.cardzoo {
  position: absolute;
  top: 149.65px;
  width: 378px;
  z-index: 10;
}
.pinkbox {
  position: absolute;
  bottom: 445.36px;
  right: 33.32px;
  width: 80.32px;
  height: 80.32px;
  background: #f5621f 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #597dbc0d;
  opacity: 0.1;
  transform: rotate(15deg);
}
.orangebox {
  position: absolute;
  bottom: 0;
  left: 289.04px;
  width: 166px;
  height: 156px;
  background-color: #f5ad00;
  box-shadow: 0px 0px 20px #597dbc0d;
  opacity: 0.1;
  transform: rotate(45deg);
}
.lurjirgoli {
  position: absolute;
  top: 161px;
  right: 280px;
  width: 178px;
  height: 178px;
  background: #3cabe0 0% 0% no-repeat padding-box;
  opacity: 0.1;
  border-radius: 50%;
}
.tetri {
  position: absolute;
  top: 214px;
  right: 340px;
  width: 74px;
  height: 74px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 5;
}
.mgrgnelebi {
  position: relative;
  background: #fee02e 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #3cabe01a;
  border-radius: 10px;
  opacity: 1;
  overflow: hidden;
}
.mgrgnelebi img {
  position: absolute;
  z-index: 30;
  top: 167px;
  left: -90px;
}
.yviteli {
  position: absolute;
  left: -40px;
  bottom: -53px;
  width: 337px;
  height: 337px;
  border-radius: 45%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #3cabe01a;
  opacity: 0.2;
}
.produqciisnaxva {
  padding-top: 43px;
  padding-left: 40px;
}
.produqciisnaxva p {
  font-size: 18px;
  line-height: 29px;
}
.produqciisnaxva h4 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 42px;
}
.gayidvadebi {
  position: relative;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #597dbc0d;
  border-radius: 10px;
  opacity: 1;
  overflow: hidden;
}
.gayidvadebi h4 {
  font-size: 18px;
  line-height: 22px;
  max-width: 179px;
  margin-top: 43px;
  margin-left: 40px;
}
.fasi {
  position: absolute;
  top: 0;
  right: 0;
  width: 119px;
  height: 119px;
  background: #f5621f 0% 0% no-repeat padding-box;
  box-shadow: -10px 10px 20px #202c530d;
  border-radius: 0px 10px 0px 193px;
  opacity: 1;
}
.fasi h4 {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  margin: 20px 20px 0 41px;
}
.fasi p {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
  margin: 3px 20px 54px 69px;
  text-decoration-line: line-through;
}
.gayidvadebi img {
  height: 220px;
  width: auto;
  margin-top: 42px;
  margin-bottom: 15px;
}
.show-production-black {
  margin-top: 31px;
  padding: 14px 24px;
  color: #ffffff;
  background: #111111 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
}
.arrow-btn-black {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #111111;
}
.arrow-btn-black img {
  width: 16px;
  height: auto;
  margin: auto;
}
#most-swiper-left {
  position: absolute;
  top: 231px;
  left: 30px;
  z-index: 30;
}
#most-swiper-right {
  position: absolute;
  top: 231px;
  right: 30px;
  z-index: 30;
}
.banner-natural {
  position: relative;
  background: #f5ad00 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #f5ad001a;
  border-radius: 10px;
  opacity: 1;
  height: 250px;
  margin-top: 70px;
  margin-bottom: 75px;
  padding: 56px 101px;
}
.banner-natural img {
  position: absolute;
  top: -45px;
  left: 606px;
}
.turtle-info h1 {
  max-width: 509px;
  width: auto;
  color: #ffffff;
  margin-bottom: 32px;
}
.brand-icons img {
  cursor: pointer;
  max-width: 176px;
  box-shadow: 0px 0px 60px #0000000d;
}
.brand-icons img:hover {
  box-shadow: 0px 30px 40px #0000000d;
}
.brands {
  position: relative;
}
#brand-swiper-left {
  position: absolute;
  top: 79px;
  left: -70px;
  width: 50px;
  height: 50px;
  padding: auto;
  border: none;
  box-shadow: 0px 0px 20px #597dbc1a;
  background: #ffffff 0% 0% no-repeat padding-box;
}
#brand-swiper-right {
  position: absolute;
  top: 79px;
  right: -70px;
  width: 50px;
  height: 50px;
  padding: auto;
  border: none;
  box-shadow: 0px 0px 20px #597dbc1a;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.agwera {
  align-items: flex-start;
}
.agweris-text {
  max-width: 378px;
  font-size: 12px;
  color: #6e6e6e;
  line-height: 23px;
  margin-top: 27px;
}
.down-categories {
  align-items: flex-start;
  height: 211px;
  margin-bottom: 116px;
}
.chamonatvali a,
.menu-chamonatvali a,
.kontaqtis-chamonatvali a {
  font-size: 12px;
  color: #6e6e6e;
  line-height: 14px;
}
.chamonatvali a:hover {
  color: #111111;
}
.chamonatvali,
.menu-chamonatvali {
  margin-top: 31px;
  height: 164px;
  align-items: flex-start;
  justify-content: space-between;
}
.menu-chamonatvali a:hover,
.kontaqtis-chamonatvali a:hover {
  color: #111111;
}
.kontaqtis-chamonatvali {
  margin-top: 31px;
  height: 74px;
  align-items: flex-start;
  justify-content: space-between;
}
.facebooklogo {
  width: 45px;
  height: 45px;
  padding: 15px 18px 15px 19px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  opacity: 1;
  margin-top: 30px;
}
footer {
  position: relative;
  overflow: hidden;
  margin-top: 130px;
}
.footer-down {
  position: relative;

  max-width: 1366px;
  width: 100%;
  margin: auto;
  height: 124px;
  padding-top: 61px;
  padding-bottom: 46px;
  z-index: 30;
}
.footer-item-left,
.footer-item-middle,
.footer-item-right {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px -10px 20px #597dbc0d;
  opacity: 1;
}
.footer-item-left {
  position: absolute;
  left: -130px;
  bottom: -353px;
  width: 530.03px;
  height: 477.03px;
  border-radius: 50%;
  z-index: -1;
}
.footer-item-middle {
  position: absolute;
  bottom: -1402px;
  left: -50px;
  width: 1512px;
  height: 1512px;
  border-radius: 50%;
  z-index: -1;
}
.ufleba {
  color: #9c9c9c;
  opacity: 1;
  font-weight: bold;
}
.footer-item-right {
  position: absolute;
  right: -130px;
  bottom: -353px;
  width: 530.03px;
  height: 477.03px;
  border-radius: 50%;
  padding: 61px 90px 43px 90px;
  color: #9c9c9c;
  opacity: 1;
  z-index: -2;
}
.footer-info a {
  color: #74b42c;
}
.footer-info {
  font-weight: bold;
}

.leaf-left {
  position: absolute;
  top: 127px;
  left: -95px;
  z-index: -1;
}
.leaf-right {
  position: absolute;
  right: -121px;
  z-index: -1;
}
.logo-card {
  width: 143px;
}

/* ჩვენ შესახებ */

.smaller-container {
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
}
.image-holder {
  background-color: #f5621f;
  max-width: 984px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 65px;
  text-align: center;
}
.image-holder img {
  margin: 171px 0;
  width: 59px;
}
.informacia {
  max-width: 782px;
  width: 100%;
  margin: auto;
}
.informacia p {
  font-size: 14px;
  line-height: 24px;
  color: #111111;
  opacity: 1;
}
.informacia h1 {
  font-size: 28px;
  margin-bottom: 31px;
  line-height: 34px;
}
.pirveli {
  margin-bottom: 20px;
}
.mtavari a {
  font-size: 14px;
  line-height: 17px;
  color: #c8c8c8;
  opacity: 1;
}
.navigacia img {
  height: 7px;
}
.navigacia,
.product-navigation {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  margin-top: 60px;
  flex-wrap: wrap;
}
.axlandeli a {
  font-size: 14px;
  line-height: 17px;
  color: #111111;
  opacity: 1;
}

/* კონტაქტი */

iframe {
  max-width: 429px;
  height: 400px;
  width: 100%;
}
.sakontaqto {
  max-width: 978px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.misamarti div,
.telefoni div,
.maili div,
.samushao-saati div {
  width: 314px;
  margin: 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.sakontaqto_info p {
  font-size: 14px;
  line-height: 17px;
  color: #9c9c9c;
}
.sakontaqto_info h5 {
  width: 314px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.sakontaqto_info a {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #111111;
}
.enebi {
  display: none;
}
.headerJR {
  display: none;
  z-index: 50;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px -10px 30px #597dbc0d;
}
.bold {
  font-weight: bold;
}
.green-a {
  color: #74b42c;
  font-size: 10px;
  margin-top: 8px;
}
.green-menu {
  width: 40px;
  height: 40px;
  background: #74b42c;
  z-index: 0;
  border-radius: 25px;
  gap: 2px;
}
.green-menu div {
  display: flex;
  flex-direction: column;
  margin: 15px 11px;
}
.men-icon {
  width: 17px;
  background-color: #ffffff;
  height: 2px;
  border-radius: 2px;
  z-index: 10;
  margin-bottom: 2px;
}
.greenbtns,
.last_add_products-second {
  display: none;
}

/* პროდუქტი */

.image-btn {
  padding-top: 50px;
}
.produkciis-info {
  margin-top: 60px;
  margin-bottom: 130px;
  align-items: flex-start;
  gap: 26px;
}
.food-images {
  gap: 26px;
}
.image-btn img {
  object-fit: cover;
  width: 75px;
  height: 75px;
  border-radius: 10px;
}
.product-images img {
  object-fit: cover;
  width: 378px;
  height: 370px;
}
.pedigree {
  display: none;
}
.pedigree.active {
  display: block;
}
.textspace {
  max-width: 378px;
}
.textspace .wona button {
  background-color: #e7e7e7;
}
.textspace h3 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 14px;
}
.textspace .wona {
  margin: 30px 0;
}
.bigtext {
  height: 111px;
  overflow: hidden;
}
.bigtext p {
  font-size: 12px;
  line-height: 19px;
}
.button-space {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}
.seetext {
  height: 400px;
}
.textspace a {
  font-size: 12px;
  line-height: 14px;
  color: #111111;
  font-weight: bold;
  margin-left: 20px;
}
.pro-sale p {
  font-size: 24px;
  line-height: 28px;
  color: #f5621f;
  font-weight: bold;
  opacity: 1;
}
.moreinfo {
  width: 277px;
  padding: 30px;
}
.pro-sale {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.pro-sale span {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  color: #111111;
  text-decoration-line: line-through;
}
.count {
  margin: 30px 0;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #e7e7e7;
  border-radius: 10px;
}
.count button {
  font-size: 30px;
}

.addtochart {
  color: #ffffff;
  font-weight: bold;
  width: 217px;
  font-size: 12px;
  background: #74b42c 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.logoimage {
  width: 277px;
  height: 90px;
  object-fit: cover;
}
tr {
  width: 277px;
}
td {
  font-size: 14px;
  color: #9c9c9c;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 30px;
  width: 138.5px;
  border-bottom: 2px dotted #9c9c9c;
}
.right {
  text-align: right;
  color: #111111;
}
.noborder {
  border: none;
}

/* კატეგორია */

.sidebar {
  background: #ffffff;
  border-radius: 10px;
}
.production-listing {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 277px 883px;
  grid-gap: 26px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 26px;
}

.sidebar button {
  width: 277px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 40px;
  font-size: 16px;
  line-height: 19px;
}
#filter {
  width: 197px;
  height: 54px;
  margin-top: 30px;
  margin-left: 40px;
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  padding: 20px 60px;
  background-color: #74b42c;
  border-radius: 10px;
}

.sidebar label {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
input[type="checkbox"] {
  margin-left: 60px;
  outline: none;
}
/* ფასების სლაიდერი */

.priceSlider {
  width: 200px;
  margin-left: 60px;
}
.priceSlider h1 {
  font-size: 17px;
  font-weight: bold;
}
.priceSlider p {
  font-size: 10px;
  margin-top: 20px;
}
.min-max label {
  font-size: 14px;
  float: left;
  margin-right: 5px;
  line-height: 1.6;
}
.min {
  float: left;
}
.max {
  float: right;
}
.min-max {
  width: 90%;
  max-width: 200px;
  margin: 0 auto;
  padding: 25px 0px 15px 0px;
}
.min-max span {
  font-size: 10px;
  text-align: center;
  display: inline-block;
  width: 85px;
  height: 30px;
  padding: 8px;
  border: 1px solid #dedede;
  border-radius: 4px;
  background-color: #e7e7e7;
}
.min-max-range {
  padding: 30px 0px 20px 0px;
}
.range {
  -webkit-appearance: inherit;
  appearance: none;
  width: 50%;
  height: 10px;
  max-width: 400px;
  background-color: #dedede;
  margin: 0;
  padding: 0;
  outline: none;
  float: left;
}
.filter {
  display: none;
}

@media (max-width: 1024px) {
  /* ჩვენ შესახებ */
  .headerJR {
    height: 60px;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 1024px;
    width: 100%;
  }
  .image-holder img {
    margin: 35px auto;
  }
  .zooimg {
    width: 106px;
    height: 15px;
  }
  .menu-icon,
  .side-icons,
  .down-categories,
  .footer-item-left,
  .footer-item-middle,
  .footer-item-right,
  .leaf-right,
  .leaf-left {
    display: none;
  }

  .enebi {
    display: block;
  }
  .kartuli {
    margin-right: 5px;
  }
  .kartuli:hover {
    font-weight: bold;
  }
  .english:hover {
    font-weight: bold;
  }
  .kartuli,
  .english {
    background: #ffffff;
    font-size: 14px;
    line-height: 23px;
  }
  .footer-info {
    flex-direction: column-reverse;
  }
  .logo-card {
    margin-bottom: 85px;
  }
  .informacia h1 {
    font-size: 18px;
    margin-bottom: 21px;
    line-height: 22px;
  }
  .ufleba {
    margin-top: 8px;
    margin-bottom: 100px;
  }
  footer {
    position: relative;
    overflow: visible;
  }
  .middle-container {
    padding: 0px 23px;
  }
  .headerJR .flex-row {
    margin: 10px auto;
    justify-content: space-evenly;
  }
  .headerJR p {
    font-size: 10px;
    margin-top: 8px;
  }

  /* კონტაქტი */

  .sakontaqto {
    flex-direction: column;
    margin-bottom: -170px;
    margin-top: 50px;
  }
  .misamarti div,
  .telefoni div,
  .maili div,
  .samushao-saati div {
    width: 198px;
    margin: 16px 0px 16px 32px;
  }
  .sakontaqto_info {
    max-width: 256px;
  }
  .sakontaqto_info p {
    font-size: 12px;
    line-height: 14px;
  }
  .sakontaqto_info a,
  .sakontaqto_info h5 {
    font-size: 14px;
    line-height: 17px;
    width: 150px;
  }
  iframe {
    height: 260px;
    padding: 0 32px;
  }

  /* მთავარი */
  #ad-swiper-left,
  #ad-swiper-right,
  .buy-now-btn,
  .graycat,
  #top1-swiper-left,
  #top1-swiper-right,
  .headline a,
  .last_add_products,
  #brand-swiper-left,
  #brand-swiper-right,
  .orangebox {
    display: none;
  }
  .ad_info_div {
    top: 30%;
    left: 25%;
  }
  .square-btns {
    bottom: 15px;
    left: 44%;
    gap: 8px;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-bottom: 70px;
  }
  .service_infos {
    justify-content: center;
    box-shadow: 0px 0px 20px #597dbc0d;
  }
  .service_infos p {
    width: 117px;
  }
  .our_production {
    max-width: 669px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .dogpro {
    padding-top: 32px;
    padding-left: 16px;
  }
  .dogpro,
  .catpro {
    height: 240px;
  }
  .fishpro,
  .birdpro {
    height: 180px;
  }
  .katebis-shetavazeba {
    width: 258px;
    margin: 42px auto;
  }
  .katebis-shetavazeba .show-production {
    margin-left: 75px;
    margin-top: 92px;
  }

  .shetavazeba {
    font-size: 18px;
    line-height: 17px;
  }
  .dogpro button {
    margin-top: 56px;
  }
  .warwera span {
    display: block;
    font-size: 14px;
  }
  .fishpro div {
    display: block;
    margin-top: 23px;
    margin-left: 20px;
  }
  .fishpro .show-production {
    margin-top: 59px;
    margin-left: 250px;
  }
  .greenbtns {
    display: flex;
  }
  .greenbtn {
    width: 6px;
    height: 11px;
    border-radius: 4px;
    opacity: 1;
  }
  .get-green {
    background-color: #74b42c;
  }
  .produktebi {
    grid-template-columns: repeat(1, 256px);
    justify-content: center;
  }
  .last_add_products {
    display: none;
  }

  .more-sercive {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 500px);
  }
  .cardzoo {
    left: 20%;
  }
  .mgrgnelebi img {
    left: 200px;
  }
  .last_add_products-second {
    display: block;
  }
  .bolosdamatebuli {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #597dbc0d;
    border: 1px solid #e7e7e74d;
    border-radius: 10px;
    opacity: 1;
  }
  .manypro {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .manypro img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .last_add_products-second .headline h3 {
    font-size: 16px;
  }
  .metisnaxva {
    padding: 14px 24px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #111111 0% 0% no-repeat padding-box;
    border-radius: 6px;
    margin-bottom: 20px;
  }
  .banner-natural {
    overflow: hidden;
  }
  .banner-natural img {
    top: -30px;
    left: 200px;
  }
  .brand-icons {
    flex-direction: column;
  }
  .brand-logo {
    display: none;
  }
  .brand-logo.vanish {
    display: flex;
  }
  .brands {
    margin-bottom: -141px;
  }
  /* პროდუქტი */
  .produkciis-info {
    flex-direction: column;
    align-items: center;
  }
  .food-images {
    flex-direction: column-reverse;
    gap: 5px;
  }
  .image-btn {
    flex-direction: row;
    gap: 5px;
  }
  .additional-info {
    flex-direction: column;
  }
  .product-navigation a:hover {
    color: #111111;
  }

  .production-listing {
    display: flex;
    flex-direction: column;
  }
  .products {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .wona {
    width: 250px;
  }
}
@media (max-width: 700px) {
  .sidebar {
    display: none;
  }
  .filter {
    display: block;
    width: 256px;
    height: 55px;
    padding: 20px 30px;
    box-shadow: 0px 10px 30px #597dbc0d;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 0 auto 20px auto;
  }
  .filter div {
    display: flex;
    justify-content: space-between;
  }
  .sidebar.active{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .ad_info_div p {
    max-width: 200px;
    font-size: 18px;
  }
  .fishpro .show-production {
    margin-left: 75px;
  }
  .fish {
    width: 120px;
  }
  .cat {
    width: 132px;
  }
  .cardzoo {
    left: 9%;
  }
  .mgrgnelebi img {
    left: 30px;
  }
  .image-btn img {
    width: 55px;
    height: 55px;
    border-radius: 10px;
  }
  .product-images img {
    object-fit: cover;
    width: 290px;
    height: 290px;
  }
}
@media (max-width: 400px) {
  .headerJR {
    max-width: 400px;
    width: 100%;
  }
  iframe {
    height: 130px;
  }
  .ad_info_div p {
    font-size: 14px;
  }
  .parrot {
    width: 206px;
  }
  .fish {
    width: 120px;
  }
  .pug {
    width: 128px;
  }
  .cardzoo {
    width: 300px;
  }
  .mgrgnelebi img {
    left: -90px;
  }
  .last_add_products-second .headline h3 {
    width: 182px;
  }
  .banner-natural {
    width: 263px;
  }
  .banner-natural img {
    width: 200px;
    top: 138px;
    left: 150px;
  }
  .product-images img {
    object-fit: cover;
    width: 250px;
    height: 250px;
  }
}
